
*{
  font-family: Montserrat;
}

#radio{
  margin-top: 10px;
}

#align{
  margin-left: 70px;
  margin-top: 5px;
  display: inline-block;
}

.radio-inline{
  padding: 50px;
  /*float: left;
  margin-left: 3em;*/
  color: white;
  font-size: 18px;
}

#image {
  margin-left: 20px;
  align-items: center;
  width: 40px;
}

#myTable {
  border-collapse: collapse;
  width: 95%;
  border: 1px solid #74C1FF;
  font-size: 18px;
  
}

.header{
  background-color: #EBECED;
}

#myTable th, #myTable td {
  text-align: center;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #74C1FF;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #FAFAFA;
}

.head{
  background-color: #74C1FF;
  width: 95%;
  height: 50px;
}

#table1{
  margin-left: 150px;
  margin-top: 30px;
 /* position: relative;*/
  
}

/*#myTable tbody{
  height: 100px;
  overflow: auto;  
}*/

h2, h4{
    margin-top: 40px;
    margin-left: 130px;
    color: #323336;
}